.blackButton {
    margin: 10px;
    background-color: black;
    border: none;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    width: auto;
}

.FatBorder {
    border: solid black 7px;
    margin: 2px;
}

.Result {
    color: red;
}