body{
    height: 50px;
}
*{
    color: lightslategray;
    background-color: darkslategray;
}
button{
    background-color: white;
    color: black;
    border: 2px solid #555555;
}
button:hover{
    background-color: #555555;
    color: white;
}
ul{
    background: darkslategray;
    padding: 20px;
    text-align: left;
}
ul li{
    background: lightslategray;
    margin: 5px;
}
input{
    width: 50%;
    border: none;
    background-color: #D8C3A5;
    padding: 10px 10px;
    margin-bottom: 1em;
    
}
select{
    background-color: #D8C3A5;
    width: 50%;
    margin-bottom: 1em;
}
.Tool{
    display: grid;
    grid-template-columns:50%;
}
.InputField{
    grid-column-start: 0;
    grid-column-end: 1;
}
.InfoField{
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns:50%;
}
.StaticInfo{
    grid-column-start: 0;
    grid-column-end: 1;
    padding: 4px;
}
.DynamicInfo{
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 4px;
}
.StaticItem{
    font-size: medium;
    width: 75%;
    height: 14.3%;
    padding: 3px;
    text-align: end;
    margin: 2px;
}
.DynamicItem{
    font-size: medium;
    width: 75%;
    height: 14.3%;
    padding: 3px;
    text-align: start;
    margin: 2px;
}