<!-- <p>gokce-child works!</p>

<p>{{gettype}}</p>
<p>{{getname}}</p>
<p>{{getmood}}</p> -->

<button pButton type="button" label="Hover 2 Update" (mouseover)="ChangeFace(gettype,getname,getmood)"></button>
<br>
<button pButton type="button" label="Random Belgian" (click)="GetRandomBelgian()"></button>
<button pButton type="button" label="Random German" (click)="GetRandomGerman()"></button>



<br>
<img src={{Image}} width="100px" height="100px">
<br>

<div>
    <p>{{getname}}</p>
    <p>{{gettype}}</p>
    <p *ngIf="boeckxbool">Random Belgian/German generated door Service -> Jan Boeckx</p>
</div>