<!-- Stel je eigen grid ruimte in, totale schermbreedte = 12, 
    dus als je bv. p-col-8 instelt krijgt je component 8/12 (=2/3) van het scherm,
    dus bv. een component van 8 kan samen naast een component van 4 enz.. -->
<div class="p-grid">
    <div class="p-col-12">groep: 2EA2</div>
    <div class="p-col-12">
        <app-yoncalik2></app-yoncalik2>
    </div>
    <div class="p-col-12">
        <app-abrar2></app-abrar2>
    </div>
    <div class="p-col-4">
        <app-vanriel2></app-vanriel2>
    </div>
    <div class="p-col-4">
        <app-lobet2></app-lobet2>
    </div>
    <div class="p-col-8">
        <app-elmoufid2></app-elmoufid2>
    </div>
    <div class="p-col-4">
        <app-coucke2></app-coucke2>
    </div>
    <div class="p-col-4">
        <app-martens2></app-martens2>
    </div>
    <div class="p-col-5">
        <app-van-driel2></app-van-driel2>
    </div>
    <div class="p-col-4">
        <app-minta2></app-minta2>
    </div>
    <div class="p-col-4">
        <app-verschooren2></app-verschooren2>
    </div>
    <div class="p-col-8">
        <app-van-goethem2></app-van-goethem2>
    </div>
    <div class="p-col-4">
        <app-aouraghe2></app-aouraghe2>
    </div>
    <div class="p-col-4">
        <app-baeten2></app-baeten2>
    </div>
    <div class="p-col-4">
        <app-vandenheuvel2></app-vandenheuvel2>
    </div>
    <div class="p-col-4">
        <app-claes2></app-claes2>
    </div>
    <div class="p-col-4">
        <app-dejonghe2></app-dejonghe2>
    </div>
    <div class="p-col-4">
        <app-faes2></app-faes2>
    </div>
    <div class="p-col-4">
        <app-fruhschulz2></app-fruhschulz2>
    </div>
    <div class="p-col-4">
        <app-tobback2></app-tobback2>
    </div>
    <div class="p-col-4">
        <app-gokce2></app-gokce2>
    </div>
    <div class="p-col-4">
        <app-christianen2></app-christianen2>
    </div>
    <div class="p-col-8">
        <app-boeckx2></app-boeckx2>
    </div>
    <div class="p-col-4">
        <app-wieselblad2></app-wieselblad2>
    </div>
    <div class="p-col-4">
        <app-vinken2></app-vinken2>
    </div>
    <div class="p-col-4">
        <app-yilmaz2></app-yilmaz2>
    </div>
    <div class="p-col-4">
        <app-uenk2></app-uenk2>
    </div>
    <div class="p-col-4">
        <app-van-opstal2></app-van-opstal2>
    </div>
    <div class="p-col-4">
        <app-van-rysselberghe2></app-van-rysselberghe2>
    </div>
    <div class="p-col-4">
        <app-shani2></app-shani2>
    </div>
    <div class="p-col-4">
        <app-elmurzayev2></app-elmurzayev2>
    </div>
    <div class="p-col-4">
        <app-bernaerts2></app-bernaerts2>
    </div>
    <div class="p-col-4">
        <app-broos2></app-broos2>
    </div>
</div>