<br>

<div *ngIf="!SwitchComp" >
<h2>Geef een zin en wij raden van welke taal het is ! </h2>

<br>
<textarea #plek [rows]="5" [cols]="30" pInputTextarea autoResize="false"></textarea>
<br>
<button  pButton type="button" label="Send" (click)="NiewMethode(plek.value)" ></button>
<br>


<br>
<app-yilmaz-child [(location)] = "input"></app-yilmaz-child>

</div>
<br>



<button  pButton type="button" label="Switch Service" (click)="SwitchService()" ></button>

<div *ngIf="SwitchComp">
<h2>Arafa Yoncalik Service</h2>

<p-panel  [toggleable]="true" [collapsed]="true">
    <p-header>ip information</p-header>

    <h3>Your public ip address </h3>
    {{IpInformation['ip']}}

    <h3>Location information </h3>
    City: {{IpInformation['city']}}
    <br>
    Postal code: {{IpInformation['postal']}}
    <br>
    Region: {{IpInformation['region']}}
    <br>
    Country: {{IpInformation['country_name']}}

</p-panel>
</div>

