div.naam{


color: red;
font-weight: 1000;
font-family: 'Courier New', Courier, monospace;
font-size: 200%;
text-shadow: 2px 2px black;


}



div.teller{

    color: purple;
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
    font-size: 150%;
    text-shadow:  1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;

}

div.procent{

color: hotpink;

font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 175%;
text-shadow: 2px 2px white;

}

