<div class="wrapper">
<div class="inputHeader">
    <h3>Choose your christmas meal (give ingredient): </h3>
    <input type="text" placeholder="ex: 'salmon'" pInputText [(ngModel)]="inputIngredient" />
    <p-button label="Search recipes" (click)=SearchRecipes(inputIngredient)></p-button>
</div>
<table>
    <tr>
        <td *ngFor="let rTitle of titles; let i = index">
            <p-card header="{{rTitle}}" [style]="{width: '200px'}" styleClass="ui-card-shadow">
                <p-header>
                    <img src="Card" src="https://spoonacular.com/recipeImages/{{images[i]}}">
                </p-header>
                <p-footer>
                    <button pButton type="button" (click)=SearchSummary(ids[i]) label="Get recipe summary"
                        class="ui-button-success"></button>
                </p-footer>
            </p-card>

        </td>
    </tr>
</table>
<div [innerHTML]="summary" class="summaryDiv"></div>
<button pButton type="button" label="Activate Child Component + Other Service" class="ui-button-warning"
    (click)=SetToggleAble()></button>
<app-claes-child [PanelToggle]="toggleChild"></app-claes-child>
</div>