<!-- Stel je eigen grid ruimte in, totale schermbreedte = 12, 
    dus als je bv. p-col-8 instelt krijgt je component 8/12 (=2/3) van het scherm,
    dus bv. een component van 8 kan samen naast een component van 4 enz.. -->
<div class="p-grid">
    <div class='p-col-12'>groep 2EA2</div>
    <div class='p-col-6'><app-abrar3></app-abrar3>
    </div>
    <div class='p-col-6'>Ayoub Aouraghe<app-aouraghe3></app-aouraghe3>
    </div>
    <div class='p-col-6'>Tom Baeten<app-baeten3></app-baeten3>
    </div>
    <div class='p-col-6'>Dries Bernaerts<app-bernaerts3></app-bernaerts3>
    </div>
    <div class='p-col-6'>Jan Boeckx<app-boeckx3></app-boeckx3>
    </div>
    <div class='p-col-6'>Anton Broos<app-broos3></app-broos3>
    </div>
    <div class='p-col-6'>Helga Buchhausel<app-buchhausel3></app-buchhausel3>
    </div>
    <div class='p-col-6'>Koen Christianen<app-christianen3></app-christianen3>
    </div>
    <div class='p-col-6'>Arnaud Claes<app-claes3></app-claes3>
    </div>
    <div class='p-col-6'>Felix Coenen<app-coenen3></app-coenen3>
    </div>
    <div class='p-col-6'>Jordi Coucke<app-coucke3></app-coucke3>
    </div>
    <div class='p-col-6'>Jordy DeJonghe<app-dejonghe3></app-dejonghe3>
    </div>
    <div class='p-col-6'>Mohamed ElMoufid<app-elmoufid3></app-elmoufid3>
    </div>
    <div class='p-col-6'>Rahim Elmurzayev<app-elmurzayev3></app-elmurzayev3>
    </div>
    <div class='p-col-6'>Matisse Faes<app-faes3></app-faes3>
    </div>
    <div class='p-col-6'>Claency Fruhschulz<app-fruhschulz3></app-fruhschulz3>
    </div>
    <div class='p-col-6'>Gürsel Gokce<app-gokce3></app-gokce3>
    </div>
    <div class='p-col-6'><div>Mathias Lobet</div><div><app-lobet3></app-lobet3></div>
    </div>
    <div class='p-col-6'>Stef Martens<app-martens3></app-martens3>
    </div>
    <div class='p-col-6'>Maxime Minta<app-minta3></app-minta3>
    </div>
    <div class='p-col-6'>Usman Shani<app-shani3></app-shani3>
    </div>
    <div class='p-col-6'>David Swolfs<app-swolfs3></app-swolfs3>
    </div>
    <div class='p-col-6'>Elias Tobback<app-tobback3></app-tobback3>
    </div>
    <div class='p-col-6'>Jens Uenk<app-uenk3></app-uenk3>
    </div>
    <div class='p-col-6'>Anton VanDenHeuvel<app-vandenheuvel3></app-vandenheuvel3>
    </div>
    <div class='p-col-6'>Kevin vanDriel<app-vandriel3></app-vandriel3>
    </div>
    <div class='p-col-6'>Jens VanGoethem<app-vangoethem3></app-vangoethem3>
    </div>
    <div class='p-col-6'>Cedric VanOpstal<app-vanopstal3></app-vanopstal3>
    </div>
    <div class='p-col-6'>Lennert VanRiel<app-vanriel3></app-vanriel3>
    </div>
    <div class='p-col-6'>Lennert VanRysselberghe<app-vanrysselberghe3></app-vanrysselberghe3>
    </div>
    <div class='p-col-6'>Amaury Verschooren<app-verschooren3></app-verschooren3>
    </div>
    <div class='p-col-6'>Wannes Vinken<app-vinken3></app-vinken3>
    </div>
    <div class='p-col-6'>Mathias Wieselblad<app-wieselblad3></app-wieselblad3>
    </div>
    <div class='p-col-6'>Kerem Yilmaz<app-yilmaz3></app-yilmaz3>
    </div>
    <div class='p-col-6'><h1><b>Arafa Yoncalik</b></h1><app-yoncalik3></app-yoncalik3>
    </div>
</div>