input{
    width: 50%;
    border: none;
    background-color: #D8C3A5;
    padding: 10px 10px;
    margin-bottom: 1em;
    
}
*{
    background-color: #EAE7DC;
}
select{
    background-color: #D8C3A5;
    width: 50%;
    margin-bottom: 1em;
}
button{
    background-color: #2E151B;
    border: none;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    cursor: pointer;
    width: 50%;
}
.Tool{
    display: grid;
    grid-template-columns:50%;
}
.Tool2{
    display: grid;
    grid-template-columns: 50%;
}
.InputField{
    grid-column-start: 0;
    grid-column-end: 1;
}
.InfoField{
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns:50%;
}
.StaticInfo{
    grid-column-start: 0;
    grid-column-end: 1;
    padding: 4px;
}
.DynamicInfo{
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 4px;
}
.StaticItem{
    font-size: medium;
    width: 75%;
    height: 14.3%;
    padding: 3px;
    text-align: end;
    margin: 2px;
}
.DynamicItem{
    font-size: medium;
    width: 75%;
    height: 14.3%;
    padding: 3px;
    text-align: start;
    margin: 2px;
}