groep: 2EA2
<div class="grid-container">
  <div class="grid-item">
    <app-abrar></app-abrar>
  </div>
  <div class="grid-item">
    <app-aouraghe></app-aouraghe>
  </div>
  <div class="grid-item">
    <app-baeten></app-baeten>
  </div>
  <div class="grid-item">
    Anton Broos
  </div>
  <div class="grid-item">
    <app-bernaerts></app-bernaerts>
  </div>
  <div class="grid-item">
    <app-boeckx></app-boeckx>
  </div>
  <div class="grid-item">
    <app-buchhausel></app-buchhausel>
  </div>
  <div class="grid-item">
    <app-christianen></app-christianen>
  </div>
  <div class="grid-item">
    <app-claes></app-claes>
  </div>
  <div class="grid-item">
    Felix Coenen
  </div>
  <div class="grid-item">
    <app-coucke></app-coucke>
  </div>
  <div class="grid-item">
    <app-de-jonghe></app-de-jonghe>
  </div>
  <div class="grid-item">
   <app-elmoufid></app-elmoufid>
  </div>
  <div class="grid-item">
    <app-elmurzayev></app-elmurzayev>
  </div>
  <div class="grid-item">
    <app-faes></app-faes>
  </div>
  <div class="grid-item">
    <app-fruhschulz></app-fruhschulz>
  </div>
  <div class="grid-item">
    <app-gokce></app-gokce>
  </div>
  <div class="grid-item">
    <app-lobet></app-lobet>
  </div>
  <div class="grid-item">
    <app-martens></app-martens>
  </div>
  <div class="grid-item">
    <app-minta></app-minta>
  </div>
  <div class="grid-item">
    <app-shani></app-shani>
  </div>
  <div class="grid-item">
    David Swolfs
  </div>
  <div class="grid-item">
    <app-tobback></app-tobback>
  </div>
  <div class="grid-item">
    <app-uenk></app-uenk>
  </div>
  <div class="grid-item">
    <app-van-den-heuvel></app-van-den-heuvel>
  </div>
  <div class="grid-item">
    <app-van-driel></app-van-driel>
  </div>
  <div class="grid-item">
    <app-van-goethem></app-van-goethem>
  </div>
  <div class="grid-item">
    <app-van-opstal></app-van-opstal>
  </div>
  <div class="grid-item">
    <app-van-riel></app-van-riel>
  </div>
  <div class="grid-item">
    <app-verschooren></app-verschooren>
  </div>
  <div class="grid-item">
    <app-vinken></app-vinken>
  </div>
  <div class="grid-item">
    <app-wieselblad></app-wieselblad>>
  </div>
  <div class="grid-item">
    Kerem Yilmaz
    <app-yilmaz></app-yilmaz>
  </div>
  <div class="grid-item">
    <app-yoncalik></app-yoncalik>
  </div>
  <div class="grid-item">
    <app-van-rysselberghe></app-van-rysselberghe>
  </div>
</div>