<p-panel class="PanelClass" id="panel" header="Child Component + Other service" [toggleable]="PanelToggle"
    [collapsed]="true">
    
    <div class="ChooseField">
        <select [(ngModel)]="IdMeal">
            <option value="52774">Pad See Ew</option>
            <option value="52772">Teriyaki Chicken Casserole</option>
            <option value="52771">Spicy Arrabiata Penne</option>
            <option value="52776">Chocolate Gateau</option>
            <option value="52769">Kapsalon</option>
        </select>
        <button pButton type="button" (click)="SearchOtherRecipe(IdMeal)" label="Submit"></button>
    </div>

    <div class="RecipeField" *ngIf="RecipeInfo">
        <p>Je hebt gekozen om {{RecipeInfo.strMeal}} te maken</p>
        <p>Dit is typisch {{RecipeInfo.strArea}}</p>
        <p>Dit kan je op volgende wijze maken:</p>
        <p>{{RecipeInfo.strInstructions}}</p>
    </div>
</p-panel>