.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }

.grid-item {
    background-color:lightgray;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 1rem;
    text-align: center;
  }

